<section class="progetto_img">
        <div class="img-prog">
            <img class="img_1_progetto" src="img/forest-patrol.jpg" alt="">
        </div>
    </section>



    <section>
          <div class="progetto">
            <div class="articolo">
                <h1 class="titolo_progetto"><%= @post.title %></h1>
                <p class="date"><%= @post.created_at.strftime('%A, %B %d') %></p>
                <div class="contenuto_progetto">
                	<%= markdown @post.content %>
                </div>


                <div class="gallery">
                    <div class="img_gallery">
                        <img class="img_gallery_1" src="img/forest-patrol.jpg" alt="" />
                    </div>

                    <div class="img_gallery">
                        <img class="img_gallery_1" src="img/forest-patrol.jpg" alt="" />
                    </div>
                </div>
            </div>
    </section>

    <section class="btn">
        <div class="row">
            <div class="contenitore-bottone">
                <div class="bottom-show"><a class="show_btn"href="">Show More</a></div>
            </div>
        </div>

    </section>

    <!--altri-prog///////start-->

    <section class="correlati_s">
        <div class="row">
            <div class="correlati">

            
               
        
           

				
                <div class="col-1">
                 
                        <div class="primo-div">
                            <div id="img-int"><img src="img/forest-patrol.jpg" alt=""></div>
                            <h1 class="titolo_correlati"><%= @post.title %></h1>
                <p class="date"> <%= @post.created_at.strftime('%A, %B %d') %> </p>
                            <div class "descrizione">
                                <p class="text_correlati"><%= @post.content %></p>
                            </div>
                        </div>
                </div>
                
            </div>
        </div>
    </section>



<%= link_to "Edit", edit_post_path  { @post } %>
<%= link_to "Delete", post_path { @post }, method: :delete, data: { confirm: "sei sicuro?" } %>
